a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}

.psn-ab{position: absolute;}
.psn-rb{position: relative;}

.x-left{text-align: left}
.x-center{text-align: center}
.x-right{text-align: right}

.y-left{vertical-align: left}
.y-center{vertical-align: middle}
.y-right{vertical-align: right}


/*宽度比例*/
.width-per-10{width:100%;}
.width-per-9z5{width:95%;}
.width-per-9{width:90%;}
.width-per-8z5{width:85%;}
.width-per-8{width:80%;}
.width-per-7z5{width:75%;}
.width-per-7{width:70%;}
.width-per-6z5{width:65%;}
.width-per-6{width:60%;}
.width-per-5z5{width:55%;}
.width-per-5{width:50%;}
.width-per-4z5{width:45%;}
.width-per-4{width:40%;}
.width-per-3z5{width:35%;}
.width-per-3{width:30%;}
.width-per-2z5{width:25%;}
.width-per-2{width:20%;}
.width-per-1z5{width:15%;}
.width-per-1{width:10%;}
.width-per-0z5{width:5%;}

.w1{width:10px;}
.w2{width:20px;}
.w3{width:30px;}
.w4{width:40px;}
.w5{width:50px;}
.w6{width:60px;}
.w7{width:70px;}
.w8{width:80px;}
.w9{width:90px;}

.w10{width:100px;}
.w20{width:200px;}
.w30{width:300px;}
.w40{width:400px;}
.w50{width:500px;}
.w60{width:600px;}
.w70{width:700px;}
.w80{width:800px;}
.w90{width:900px;}
/*高度像素*/
.ht1{height:10px;}
.ht2{height:20px;}
.ht3{height:30px;}
.ht4{height:40px;}
.ht5{height:50px;}
.ht6{height:60px;}
.ht7{height:70px;}
.ht8{height:80px;}
.ht9{height:90px;}

.ht10{height:100px;}
.ht20{height:200px;}
.ht30{height:300px;}
.ht40{height:400px;}
.ht50{height:500px;}
.ht60{height:600px;}
.ht70{height:700px;}
.ht80{height:800px;}
.ht90{height:900px;}

/*浮动方向*/
.float-lt{float: left;}
.float-rt{float: right;}
/*内边距*/
.p10{padding:10px;}
.p5{padding:5px;}
.p0{padding:0px;}

.pt10{padding-top: 10px;}
.pt5{padding-top: 5px;}
.pt0{padding-top: 0px;}

.pl-20{padding-left: 20%;}
.pl-10{padding-left: 10%;}
.pl-5{padding-left: 5%;}
/*外边距*/
.m10{margin:10px;}
.m5{margin:5px;}
.m0{margin:0px;}
/*外右边距*/
.mr30{margin-right: 30px;}
.mr20{margin-right: 20px;}
.mr10{margin-right: 10px;}
.mr5{margin-right: 5px;}

.ml30{margin-left: 30px;}
.ml20{margin-left: 20px;}
.ml10{margin-left: 10px;}
.ml5{margin-left: 5px;}

.mr-30{margin-right: 30%;}
.mr-20{margin-right: 20%;}
.mr-10{margin-right: 10%;}
.mr-5{margin-right: 5%;}

.ml-30{margin-left: 30%;}
.ml-20{margin-left: 20%;}
.ml-10{margin-left: 10%;}
.ml-5{margin-left: 5%;}
/*外上边距*/
.mt30{margin-top: 30px;}
.mt20{margin-top: 20px;}
.mt10{margin-top: 10px;}
.mt5{margin-top: 5px;}

.mt-30{margin-top: 30%;}
.mt-20{margin-top: 20%;}
.mt-10{margin-top: 10%;}
.mt-5{margin-top: 5%;}
/*显示与否*/
.none{display: none;}
.active{display: block;}
/*纵向位置*/
.bt-1{bottom:10%;}
.bt-2{bottom:20%;}
.bt-3{bottom:30%;}
.bt-4{bottom:40%;}
.bt-5{bottom:50%;}
.bt-6{bottom:60%;}
.bt-7{bottom:70%;}
.bt-8{bottom:80%;}
.bt-9{bottom:90%;}

.tp-1{top:10%;}
.tp-2{top:20%;}
.tp-3{top:30%;}
.tp-4{top:40%;}
.tp-5{top:50%;}
.tp-6{top:60%;}
.tp-7{top:70%;}
.tp-8{top:80%;}
.tp-9{top:90%;}

.tp1{top:1px;}
.tp2{top:2px;}
.tp3{top:3px;}
.tp4{top:4px;}
.tp5{top:5px;}
.tp6{top:6px;}
.tp7{top:7px;}
.tp8{top:8px;}
.tp9{top:9px;}
/*横向位置*/
.rt-1{right:10%;}
.rt-2{right:20%;}
.rt-3{right:30%;}
.rt-4{right:40%;}
.rt-5{right:50%;}
.rt-6{right:60%;}
.rt-7{right:70%;}
.rt-8{right:80%;}
.rt-9{right:90%;}
/*纵向溢出*/
.ow-to{overflow:auto};

.noborder{border:none;}
.noborder-l{border-left: none}
.noborder-r{border-right: none}
