a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}

.psn-ab{position: absolute;}
.psn-rb{position: relative;}

/*宽度比例*/
.width-per-10{width:100%;}
.width-per-9z5{width:95%;}
.width-per-9{width:90%;}
.width-per-8z5{width:85%;}
.width-per-8{width:80%;}
.width-per-7z5{width:75%;}
.width-per-7{width:70%;}
.width-per-6z5{width:65%;}
.width-per-6{width:60%;}
.width-per-5z5{width:55%;}
.width-per-5{width:50%;}
.width-per-4z5{width:45%;}
.width-per-4{width:40%;}
.width-per-3z5{width:35%;}
.width-per-3{width:30%;}
.width-per-2z5{width:25%;}
.width-per-2{width:20%;}
.width-per-1z5{width:15%;}
.width-per-1{width:10%;}

/*浮动方向*/
.float-lt{float: left;}
.float-rt{float: right;}
/*内边距*/
.p10{padding:10px;}
.p5{padding:5px;}
.p0{padding:0px;}

.pt10{padding-top: 10px;}
.pt5{padding-top: 5px;}
.pt0{padding-top: 0px;}
/*外边距*/
.m10{margin:10px;}
.m5{margin:5px;}
.m0{margin:0px;}
/*外右边距*/
.mr30{margin-right: 30px;}
.mr20{margin-right: 20px;}
.mr10{margin-right: 10px;}
.mr5{margin-right: 5px;}

.mr-30{margin-right: 30%;}
.mr-20{margin-right: 20%;}
.mr-10{margin-right: 10%;}
.mr-5{margin-right: 5%;}
/*外上边距*/
.mt30{margin-top: 30px;}
.mt20{margin-top: 20px;}
.mt10{margin-top: 10px;}
.mt5{margin-top: 5px;}
/*显示与否*/
.none{display: none;}
.active{display: block;}
/*纵向位置*/
.bt-1{bottom:10%;}
.bt-2{bottom:20%;}
.bt-3{bottom:30%;}
.bt-4{bottom:40%;}
.bt-5{bottom:50%;}
.bt-6{bottom:60%;}
.bt-7{bottom:70%;}
.bt-8{bottom:80%;}
.bt-9{bottom:90%;}

.tp-1{top:10%;}
.tp-2{top:20%;}
.tp-3{top:30%;}
.tp-4{top:40%;}
.tp-5{top:50%;}
.tp-6{top:60%;}
.tp-7{top:70%;}
.tp-8{top:80%;}
.tp-9{top:90%;}

.tp1{top:1px;}
.tp2{top:2px;}
.tp3{top:3px;}
.tp4{top:4px;}
.tp5{top:5px;}
.tp6{top:6px;}
.tp7{top:7px;}
.tp8{top:8px;}
.tp9{top:9px;}
/*横向位置*/
.rt-1{right:10%;}
.rt-2{right:20%;}
.rt-3{right:30%;}
.rt-4{right:40%;}
.rt-5{right:50%;}
.rt-6{right:60%;}
.rt-7{right:70%;}
.rt-8{right:80%;}
.rt-9{right:90%;}
