body{
	height: 824px;
	min-height:768px; 
}
body>header{
	height:15%;
	width:100%;
	background:url(../img/hdr_bg.png);
}

header>nav{
	position: absolute;
	top:0px;
	width:100%;
	height: 25px;
	line-height: 25px;
	color: #555; 
	background-color: rgba(255,255,255,.5);
	-webkit-box-shadow:0 3px 3px rgba(1,1,1,.3);
	-moz-box-shadow:0 3px 3px rgba(1,1,1,.3);
	box-shadow:0 3px 3px rgba(1,1,1,.3);
}

header>nav div{
	margin: 0px 10px;
}

#nav_title{
	position:absolute; top:28px;
	left:70px;
	background: url(../img/header_icon.png) no-repeat;
	width: 700px;
	height:95px;
}

#nav_title>span{
	margin-left:100px;
	line-height:90px;
	font-size:35px;
	letter-spacing:5px;
	color:#fff;
	background-color: rgba(138,164,215,.5);
	font-family:'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
	height:95px;
}

div>aside{
	float: left;
	margin: 0px 2px;
	width: 15%;
	min-width: 200px;
	height: 99%;
}

div>section{
	width: 84%;
	height: 99%;
	float: right;
	margin-right: 4px;
}

div>section>article{
	height: 100%;
}

div>aside>ul>li{
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div>aside>ul>li a,
div>aside>ul>li a:hover,
div>aside>ul>li a:focus
{
	color: #555;
}

#btn_amt,
#btn_amt:hover,
#btn_amt:focus
{
	color: #99999b;
}

.view_tbl{
	margin-left: 1%;
}

textarea{
	width:90%;
	resize:none;
}

.content{
	height:80%;
	width:auto;
	min-width: 1310px;
	clear: both;
	margin: 3px 0px -3px 0px;
}

/*宽度*/
.grain_search,
.grain_change,
.grain_iframe{
	width: 100%;
}

.grain_change{
	height: 300px;
}

.grain_search tr:not(:last-child){
	height: 40px;
}

.comments{
	height: 80px;
}

.grain_search_td{
	width:33%;
}

.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
	border-left-color: #fff;
}
.dropdown-submenu.pull-left {
	float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.mr5 label{
	line-height: 30px;
	position: relative;
	bottom: 0px;
}

.vali-td{
	height: 60px;
	vertical-align:top;
}

.vali-sl-td{
	height: 85px;
	vertical-align:top;
}

#inForm .has-feedback .form-control-feedback,
#outForm .has-feedback .form-control-feedback{
    top: 10px;
    right: 10px;
}

#suForm .has-feedback .form-control-feedback,
#whsForm .has-feedback .form-control-feedback{
	top: 10px;
    right: 90px;	
}

#inForm .has-feedback .input-group .form-control-feedback,
#outForm .has-feedback .input-group .form-control-feedback
 {
    top: 10px;
    right: 10px;
}

#suForm .has-feedback .input-group .form-control-feedback,
#whsForm .has-feedback .input-group .form-control-feedback{
	top: 10px;
    right: 90px;
}